<h1>Vos réservations</h1>

<%# <ul> %>
<%# <% @destination.reservations.each do |reservation| %>
<%# <li><%= reservation.user.first_name %>
<%# <%= link_to 'refuser la réservation', %>
  <%# reservation_path(reservation), %>
  <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%# </li> %>
<%# <% end %>
<%# </ul> %>


<ul>
  <% if current_user.destinations %>
    <% current_user.destinations.each do |destination| %>
      <% destination.reservations.each do |reservation| %>
      <li><%= reservation.user.first_name %><%= reservation.user.last_name %><%= reservation.destination.name %></li>
      <li><%= link_to 'Accepter', accepted_reservation_path(reservation), data: {turbo_method: :patch} %></li>
      <li><%= link_to 'Refuser', decline_reservation_path(reservation), data: {turbo_method: :patch} %></li>
        <% if reservation.status == "Accepté" %>
          <%= "Vous avez accepté la demande" %>
        <% elsif reservation.status == "Refusé" %>
          <%= "Vous avez refusé la demande" %>
        <% else %>
          <%= "En attente de réponse" %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>Vous n'avez pas encore proposé de destination</p>
  <% end %>
</ul>
