<h1>Les réservations de votre propriété</h1>

<%# <ul> %>
<%# <% @destination.reservations.each do |reservation| %>
<%# <li><%= reservation.user.first_name %>
<%# <%= link_to 'refuser la réservation', %>
  <%# reservation_path(reservation), %>
  <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%# </li> %>
<%# <% end %>
<%# </ul> %>

<div class="container">
  <div class="card-deck">
    <% if current_user.destinations.present? %>
      <% current_user.destinations.each do |destination| %>
        <% destination.reservations.each do |reservation| %>
          <div class="card mb-4" style="width: 50%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <div class="card-body d-flex justify-content-between">
              <div class="user-info">
                <h5 class="card-title"><%= "#{reservation.user.first_name} #{reservation.user.last_name}" %></h5>
                <p class="card-text">a réservé <strong><%= reservation.destination.name %></strong></p>
                <% if reservation.status == "En attente" %>
                  <div class="btn-group" role="group">
                    <%= link_to 'Accepter', accepted_reservation_path(reservation), class: "btn btn-success", data: { turbo_method: :patch } %>
                    <%= link_to 'Refuser', decline_reservation_path(reservation), class: "btn btn-danger", data: { turbo_method: :patch } %>
                  </div>
                <% elsif reservation.status == "Accepté" %>
                  <p class="card-text text-success">Vous avez accepté la demande</p>
                <% elsif reservation.status == "Refusé" %>
                  <p class="card-text text-danger">Vous avez refusé la demande</p>
                <% else %>
                  <p class="card-text">Vous n'avez pas encore proposé de destination</p>
                <% end %>
              </div>
              <div class="avatar">
                <p>
                  <% if current_user.photo.key.nil? %>
                    <%= image_tag "https://res.cloudinary.com/dbpig7djd/image/upload/v1700751306/avatar_anonyme_fmrqrs.png", class: "avatar", alt: "dropdown menu" %>
                  <% else %>
                    <%= cl_image_tag current_user.photo.key, height: 60, width: 60, crop: :fill, class: "avatar", alt: "dropdown menu" %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>

<h1>Vos réservations de vos futures destinations</h1>
<div class="container">
  <div class="card-deck">
    <% @reservations.each do |reservation| %>
      <div class="card mb-4" style="width: 50%; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <div class="card-body d-flex justify-content-between">
          <div class="user-info">
            <!-- Vous pouvez personnaliser ces parties en fonction de vos besoins -->
            <h5 class="card-title"><%= "#{reservation.user.first_name} #{reservation.user.last_name}" %></h5>
            <p class="card-text">
              Date d'arrivée: <%= reservation.date_of_arrival %><br>
              Date de départ: <%= reservation.date_of_departure %><br>
              Ma destination choisie: <%= reservation.destination.name%>
            </p>
            <!-- Si vous avez des actions spécifiques à ajouter ici en fonction du statut, vous pouvez le faire -->
          </div>
          <div class="avatar">
            <p>
              <!-- Vous pouvez personnaliser cette partie en fonction de vos besoins -->
              <% if reservation.user.photo.key.nil? %>
                <%= image_tag "https://res.cloudinary.com/dbpig7djd/image/upload/v1700751306/avatar_anonyme_fmrqrs.png", class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= cl_image_tag reservation.user.photo.key, height: 60, width: 60, crop: :fill, class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
