<h1>Vos réservations</h1>

<%# <ul> %>
<%# <% @destination.reservations.each do |reservation| %>
<%# <li><%= reservation.user.first_name %>
<%# <%= link_to 'refuser la réservation', %>
  <%# reservation_path(reservation), %>
  <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%# </li> %>
<%# <% end %>
<%# </ul> %>


<ul class="list-group">
  <% if current_user.destinations.present? %>
    <% current_user.destinations.each do |destination| %>
      <% destination.reservations.each do |reservation| %>
        <li class="list-group-item">
          <strong><%= "#{reservation.user.first_name} #{reservation.user.last_name}" %></strong> a réservé <strong><%= reservation.destination.name %></strong>
        </li>
        <li class="list-group-item">
          <% if reservation.status == "En attente" %>
            <div class="btn-group" role="group">
              <%= link_to 'Accepter', accepted_reservation_path(reservation), class: "btn btn-success", data: { turbo_method: :patch } %>
              <%= link_to 'Refuser', decline_reservation_path(reservation), class: "btn btn-danger", data: { turbo_method: :patch } %>
            </div>
          <% elsif reservation.status == "Accepté" %>
            <span class="text-success"><%= "Vous avez accepté la demande" %></span>
          <% elsif reservation.status == "Refusé" %>
            <span class="text-danger"><%= "Vous avez refusé la demande" %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <li class="list-group-item">
      <p>Vous n'avez pas encore proposé de destination</p>
    </li>
  <% end %>
</ul>

