<h1>Les destinations de vos rêves</h1>
<ul>
  <% @destinations.each do |destination| %>
    <li><%= link_to destination.name, destination_path(destination) %></li>
  <% end %>
</ul>

<%= cl_image_tag("omedrycq3fhw4zgtok9o",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("porte-du-desert-maroc_yvxqt6",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("SpaceX_Crew_Dragon_Demo-1_Hatch_Open_mlim9b",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("paroi-escalade-hiver-parc-jean-drapeau_m8yoc9",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("satellite-and-earth_tp6a37",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("montgolfiere-et-chateaux-2019-01_va1ipw",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("istockphoto-887323060-612x612_i4euoq",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("istockphoto-157286122-612x612_cnit3x",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("istockphoto-971852206-612x612_nnpw24",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("Camping-ile-deserte-plage-de-Naris-beach-whitsunday-Australie-1024x576_moy0c3",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("Bung2-300x246_huhvlw",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("himalaya-mountain-range-nepal_osa7wy",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("800302_inline1_scale_450xauto_qims4x",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("9bd6468_524793604-for-press-release_mwa1ho",
      width: 400, height: 300, crop: :fill) %>
