<div class="banner">
  <div class= "card-categry">
    <h1>Les destinations de vos rêves</h1>
    <p>Ayez quelque chose à raconter à la pause café du matin</p>
  </div>

<div class="container">
  <div class="card-destination" >
    <h2>Les prochaines disponibilités :</h2>
    
        <% @destinations.each do |destination| %>
        <%# div card arret avant end du link %>
          <h1><%= link_to destination.name, destination_path(destination) %></h1>
                <p><%= destination.description %></p>
                <p><%= destination.date_of_availability %></p>
                <p><%= destination.price %></p>
                  <p><% destination.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %></p>
        <% end %>
  </div>
</div>
