<h1><%= @destination.name %></h1>
<p><%= @destination.description %></p>
<p><%= @destination.date_of_availability %></p>
<p><%= @destination.price %></p>

<%= link_to "retourner à la liste", destinations_path %>
<%= link_to 'Nouvelle destination', new_destination_path %>
<%= link_to 'Nouvelle réservation', new_destination_reservation_path(@destination) %>


