<div class="container">
  <div class= "d-flex justify-content-between">
    <h1><%= @destination.name %></h1>
    <%= link_to destinations_path do %>
      <i class="circle-chevron-left"></i>
    <% end %>
  </div>

<%# fa-regular fa-circle-xmark %>

  <div class="d-flex">
    <div class="shadow p-3 mb-5 bg-body rounded w-50">
      <p><% @destination.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "image w-100 h-100" %>
      <% end %></p>
    </div>

    <div class = "description.card shadow p-3 mb-5 bg-body rounded w-50" data-controller="calculate-stay"
        data-calculate-stay-price-value=<%= @destination.price  %>>
      <p><%= @destination.description %></p>
      <p><%= @destination.price  %> € la nuitée</p>

      <%# <p><%= @destination.date_of_availability %></p>
      <div>
        <p><%= simple_form_for @reservation, method: :post do |f| %>
          <%= f.input :date_of_arrival,
                      as: :string,
                      input_html: { data: { controller: "datepicker", action: "change->calculate-stay#calculate", calculate_stay_target: "dates" }} %>
          <%= f.input :date_of_departure,
                      as: :string,
                      input_html: { data: { controller: "datepicker", action: "change->calculate-stay#calculate", calculate_stay_target: "dates" }} %>
                      <% end %></p>
          <p data-calculate-stay-target="daysDiff"%></p>
          <div id="checkboxContainer">
              <% # Générer des cases à cocher dynamiquement en utilisant une boucle Ruby %>
              <% checkbox_options = [
                {label: "🥪 Demi-pension (300€/nuitée)", value:300},
                {label: "🍔🍷 Pension complète (600€/nuitée)", value:600},
                {label: "🥐☕ Full breakfast (80€/jour)", value:80}
                ] %>
              <% checkbox_options.each do |option| %>
                <label>
                  <%= check_box_tag "checkbox_options[]", option[:value], false, data: {price: option[:value],
                  action: "change->calculate-stay#calculate",
                  calculate_stay_target: "option"
                  } %>
                  <%= option[:label] %>
                </label>
              <% end %>
          </div>
          <%# <p id="totalAmount">Montant total : 0€</p> %>
          <br>
          <h3 data-calculate-stay-target="totalStay"></h3>
          <%= link_to 'Je réserve', destination_reservation_path(@destination), class: "btn btn-primary" %>
      </div>
      <%# <div> %>
        <%# <%= link_to 'Mes réservations', destination_reservations_path(@destination) %>
      <%# </div> %>
    </div>
  </div>
</div>
